body{
    background-color: #393E46;
   text-align: center;
}

.fullPage{
    margin: 10% 25%;
    font-size: 500px;
   
}
h1{
    margin-top: 7%;
    font-family: 'Rowdies';
    font-size: 8rem;
  
    color: #4ECCA3;
}
h2{
    font-family: "rowdies";
    font-size: 6rem;
    color: #4ECCA3;
}